extends layout

block content
  if number > 6
    section.recipes-recipe-finder
      .recipes-recipe-finder_wrapper
        .recipes-recipe-finder_wrapper
          h2.recipe-finder__header
            =number
            |&#32;delicious recipes to discover
          form.recipe-finder__search-form(method="GET" action="/search")
            label.recipe-finder__search-box-label(for="searchInput-large")
              | Find a recipe on BBC Food
            input.recipe-finder__search-box#searchInput-large(type="text" placeholder="Find a recipe on Food" name="keywords")
            label.recipe-finder__search-button-label(for="recipe-finder-search-button")
              | Search BBC Food's recipes
            input.recipe-finder__search-button#recipe-finder-search-button(type="submit" value="")
  section.recipes-wrap
    .block
      .recipe-collections__list
        for recipe in json
              - let string = '/recipe/' + recipe.name.toLowerCase().split(' ').join('_');
              - let ingredients = recipe.mainIngredients.join(', ')
              a.recipe-collections__title-link(href=string)
                .recipe-collections__information
                    .recipe-collections__title
                        =recipe.name
                    .recipe-metadata-wrap
                      .recipe-metadata__heading Cooking time:&#32;
                        span.recipe-collections__cook-time
                          =recipe.cookingTime
                        .recipe-metadata__heading Ingredients:&#32;
                          span.recipe-collections__cook-time
                            =ingredients
              hr
        else
          .recipe-collections__title Sorry, we currently have no recipes for you
          hr
