doctype html
html(lang="en-GB")
  head
    title Recipe
    link(href='https://food.files.bbci.co.uk/kandl-food/1427-1.el6/css/style.css', rel='stylesheet')
    link(href='https://food.files.bbci.co.uk/kandl-food/1427-1.el6/css/style.css', rel='stylesheet')
  body
    header.food-wrapper
      .food-header
        .page-title
          .page-title__logo-wrapper
            a.page-title__logo(href="/") Food
            span.page-title__text Recipes
      hr
    article.recipes-wrap
        block content
    footer
